.hangman {
    width: 70%;
    margin: 2rem auto 0;
    @media (max-width: 768px) {
        width: 100%;
    }
}
.output {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    .step {
        > img {
            max-width: 5rem;
            opacity: .2;
            transition: .5s;
        }
        &.active > img {
            opacity: 1;
        }
    }
}

.word {
    letter-spacing: 0.6rem;
    font-size: 2.8rem;
    padding: 3rem;
    text-align: center;
    border: .2rem solid #000;
    max-width: 60rem;
    margin: 2rem auto;
    border-radius: 1.5rem;
}

.hints, .wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hints {
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    flex: 50%;
    .wrapper {
        gap: 2rem;
        align-items: center;
        > p {
            margin: 0!important;
        }
        .warning {
            color: red;
        }
    }
    &__list {
        list-style: none;
        margin: 2rem 0 0;
        padding: 0;
        > li {
            font-size: 1.4rem;
            transition: 1s;
            text-align: center;
            margin-bottom: 1.5rem;
        }
    }
}

.btn {
    padding: 0.5rem 2rem;
    font-size: 1.4rem;
    border-radius: 2.4rem;
    cursor: pointer;
    color: #fff;
    background: #000;
    border: 1px solid #000;
    transition: .3s;
    &:hover {
        color: #000;
        background-color: #fff;
    }
}

.letters {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;  
    width: 50%;
    @media (max-width: 768px) {
        width: 100%;
        margin-top: 2rem;
    }
    .letter {
        border-radius: 50%;
        border: 1px solid #000;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        cursor: pointer;
        padding: .5rem;
        transition: .3s;
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}