<section id="hangman">
    <div id="output">
        <div class="step" *ngFor="let imageCounter of imageCounters" [class.active]="imageCounter === (currentStep + 1)"><img src="assets/images/{{imageCounter}}.png"></div>
    </div>
    <div id="word">{{ content }}</div>
    <div id="category">Kategoria: {{ category }}</div>
    <div id="letters">
        <button *ngFor="let letter of letters" (click)="guess(letter, $event)">{{ letter }}</button>
    </div>
    <button (click)="reset()" *ngIf="endView">reset</button>
</section>